In [2]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (9.1.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [4]:
# csv to dataframe
df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_2.csv")
df_buses_3=pd.read_csv("df_buses_3.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_5.csv")
df_buses_6=pd.read_csv("df_buses_6.csv")
df_buses_7=pd.read_csv("df_buses_7.csv")
df_buses_8=pd.read_csv("df_buses_8.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 51,Swift Deluxe Non AC Air Bus (2+2),19:00,04:30,09h 30m,INR 640,31 Seats available,3.9\n41,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 789,Super Fast Non AC Seater (2+3),20:00,03:45,07h 45m,INR 473,11 Seats available,3.6\n83,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 2133,Swift Deluxe Non AC Air Bus (2+2),22:10,07:35,09h 25m,INR 640,11 Seats available,4.3\n27,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 2063,SWIFT-GARUDA A/C SEATER BUS,22:30,06:00,07h 30m,INR 627,1 Seat available,4.1\n63,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 574,Super Express Non AC Seater Air Bus (2+2),23:00,09:40,10h 40m,INR 469,18 Seats available,3.4\n35,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
4921,Droupadi Paribahan,A/C Seater (2+3),14:10,16:58,02h 48m,INR 160,61 Seats available,2.7\n31,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
4922,KRISHNAKALI,A/C Seater (2+3),14:45,17:30,02h 45m,INR 165,61 Seats available,2.2\n48,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
4923,Droupadi City Service,A/C Seater (2+3),15:20,18:10,02h 50m,180,60 Seats available,2.8\n68,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
4924,Droupadi Bus Service,Non AC Seater (2+3),16:20,19:10,02h 50m,INR 121,54 Seats available,2.7\n19,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
4925,SBSTC-BONGAON - ASANSOL - VIA - BARASAT - 05:0...,Non AC Seater (2+3),07:00,11:40,04h 40m,INR 185,51 Seats available,3.7\n21,https://www.redbus.in/bus-tickets/barasat-west...,Barasat (West Bengal) to Asansol (West Bengal)

# Data cleaning

In [5]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4926 entries, 0 to 4925
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4865 non-null   object
 1   Bus_type         4865 non-null   object
 2   Start_time       4865 non-null   object
 3   End_time         4865 non-null   object
 4   Total_duration   4865 non-null   object
 5   Price            4865 non-null   object
 6   Seats_Available  4865 non-null   object
 7   Ratings          4865 non-null   object
 8   Route_link       4926 non-null   object
 9   Route_name       4926 non-null   object
dtypes: object(10)
memory usage: 385.0+ KB

In [6]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       640.0
1       473.0
2       640.0
3       627.0
4       469.0
        ...
4921    160.0
4922    165.0
4923    180.0
4924    121.0
4925    185.0
Name: Price, Length: 4926, dtype: float64

In [7]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_27540\2577861265.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [8]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4926 entries, 0 to 4925
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         4865 non-null   object
 1   Bus_type         4865 non-null   object
 2   Start_time       4865 non-null   object
 3   End_time         4865 non-null   object
 4   Total_duration   4865 non-null   object
 5   Price            4865 non-null   float64
 6   Seats_Available  4865 non-null   object
 7   Ratings          4926 non-null   float64
 8   Route_link       4926 non-null   object
 9   Route_name       4926 non-null   object
dtypes: float64(2), object(8)
memory usage: 385.0+ KB

In [9]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [10]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [11]:
# change dataframe to csv
path=r"C:\Users\User\Desktop\capstone project guvi\redbus_project\df_busFinal_df.csv"
Final_df.to_csv(path,index=False)

# Create a mysql database

In [12]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="root",use_pure=True,database="RED_BUS_DETAILS")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [14]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [15]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully